<%= render "shared/header" %>
<div class='container'>
  <div class='bg-primary'>
    <h1 class=''>
      エンターテインメントから学ぶ
    </h1>
    <p class='font-weight-bold'>
      あああ
    </p>
    <p class='font-weight-bold'>
      ？？？
    </p>
  </div>
</div>
<%= render "shared/footer" %>