<header class='container-fluid d-flex'>
  <div class='container-fluid pl-5 ht-100 head-logo'>
    EN為
  </div>
    <div class='d-flex justify-content-end align-items-end container-fluid pb-1'>
      <% if user_signed_in? %>
        <%= link_to current_user.nickname, ideas_path, class: "btn btn-outline-dark ml-1" %>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn btn-secondary ml-1" %>
      <% else %>
        <%= link_to 'ログイン', new_user_session_path, class: "btn btn-secondary ml-1" %>
        <%= link_to '新規登録', new_user_registration_path, class: "btn btn-secondary ml-1" %>
      <% end %>
    </div>
</header>